// Заголовки, общие БЄМ блоки и проче...
.title {
   &__label {
      text-transform: uppercase;
      font-weight: 500;
      font-size: rem(12); // было соответственно font-size:12px
      line-height: 2; //24:12=2 - - было соответственно line-height:24px
      letter-spacing: em(7.5, 12); //было соответственно   letter-spacing:7.5px
      color: $secondColor;
      display: flex;
      align-items: center;
      gap: rem(16);
      &::before {
         content: ''; //так верстается черточка слева
         background: #d9d9d9;
         width: rem(16);
         height: rem(2);
      }
      &:not(:last-child) {
         margin-bottom: em(9, 12);
      }
   }

   &__value {
      font-family: 'Plus Jakarta Sans';
      font-weight: 700;
      font-size: rem(36);
      line-height: 1.25; //45:36=1.25 было соответственно line-height: 45px;
      span {
         color: $purpureColor;
      }
      &_big {
         font-size: rem(44);
         line-height: math.div(55, 44);
      }
   }
}
.text {
   line-height: math.div(32, 16);
}
.page {
   &__main {
   }
}

.social {
   //тут установим картинки как они в макете по горизонтали и по центру и даем им возможность переходить на другую строку
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   //таким свойством делаем адаптивное расстояние между иконками
   row-gap: rem(5);
   @include adaptiveValue('column-gap', 34, 15);
   // адаптивное стилизация расстояния
   &__link {
      font-size: rem(24); //именно это увеличиваем размер иконок
      transition: all 0.3s ease 0s; //это более плавная срабатывание стиля hover
      @media (any-hover: hover) {
         //тут добавили наведение на иконки
         &:hover {
            color: $purpureColor;
         }
      }
   }
}
