//====================================================================================================
.header {
   //верстка самой шапки
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   &_logo {
      //так он будет показываться при логотипе
      position: relative;
      z-index: 5;
   }

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: rem(5);
      padding-top: rem(5);
      gap: rem(15);

      min-height: 123px; //высота шапки как парвило задается так
      //снипед md3 развернет адаптив
      @media (max-width: $mobile) {
         min-height: 60px;
      }
   }

   &__menu {
   }

   &__button {
      //чтобы доставть кнопку при адаптивном меню
      position: relative;
      z-index: 5;

      //тут версткаем кнопку с относительными величинами
      font-weight: 500;
      padding: rem(16) rem(24);
      border: rem(1) solid #f1f1f1;
      border-radius: rem(8);
      font-size: rem(14);
      line-height: math.div(
         17,
         14
      ); //первый параметр это 17 сколько должно быть, воторой параметр 14 скоклько font-size
      //делаем наведение более плавным
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
         &:hover {
            //меняем цвет текста и цвет фона при наведении
            color: #fff;
            background-color: $purpureColor;
            border: rem(1) solid $purpureColor;
         }
      }
      @media (max-width: $mobile) {
         padding: rem(15) rem(15);
         border: rem(1) solid $mainColor;
         background-color: $mainColor;
         color: #fff;
      }
   }
}
.menu {
   &__body {
      //туту мы делаем адаптиное меню фон где оно будет отображаться
      @media (max-width: $mobile) {
         position: fixed;
         top: 0;
         left: -100%; //для того чтобы меню уехало как бы
         width: 100%; //это для того чтобы оно занимало все ширину и высоту когдасработаетадаптив
         height: 100%;
         overflow: auto;
         background-color: $purpureColor;
         //это мы устанавливаем отступы адаптива меню
         padding: rem(90) rem(15) rem(30) rem(15);
         //верстаем стили  для открытия и закрытия именно интерактива
         //сейчас мы отверсткает чтобы при скроле менб красиво ходило вверх и вниз и єто получается типа как header в меню при адаптации

         &::before {
            content: '';
            position: fixed;
            top: 0;
            left: -100%; //тоже чтобы меню уежало
            transition: left 0.3s ease 0s; //чтобы уежало с красивой задержкой
            width: 100%;
            height: rem(60);
            background-color: rgba(89, 130, 219, 0.781);
            z-index: 2;
         }
         .menu-open & {
            left: 0; //для того чтобы меню возвращалось при нажатии
            &::before {
               left: 0;
            }
         }
      }
   }

   &__list {
      //это тоже нужно для адаптива чтобы ссылки выстроились в ряд
      @media (min-width: $mobile) {
         display: flex;
         flex-wrap: wrap;
         row-gap: rem(5);
         //  @include adaptiveValue(
         //     'gap',
         //     56,
         //     15,
         //     0,
         //     1200,
         //     768
         //  ); // снипед av-это миксин для адаптации есть в документации
         gap: rem(56);
      }
   }

   &__item {
      //так мы выравниваем ссылки по центру
      text-align: center;
      @media (max-width: $mobile) {
         &:not(:last-child) {
            margin-bottom: rem(20);
         }
      }
   }

   &__link {
      font-weight: 500;
      font-size: rem(16); //снипед fz разворачивает такую конструкцию с rem
      line-height: math.div(19, 16); //снипед lh будет такая конструкция
      //снипед hhv вызовет актив меню
      @media (any-hover: hover) {
         &:hover {
            color: $purpureColor;
         }
      }
      //туту мы адаптируем ссылки когда менб будет для мобильных устройств
      @media (max-width: $mobile) {
         color: #fff;
         font-size: rem(24);
      }
   }
}

//====================================================================================================

//Burger

.icon-menu {
   display: none;
   @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: rem(30);
      height: rem(18);
      cursor: pointer;
      flex: 0 0 rem(30);
      z-index: 5;
      span,
      &::before,
      &::after {
         content: '';
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(2);
         background-color: #000;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: calc(50% - rem(1));
      }
      .menu-open & {
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }
         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
      }
   }
}
