//====================================================================================================
.header {
   //верстка самой шапки
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 100;
   &_logo {
   }

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: rem(15);
      min-height: 123px; //высота шапки как парвило задается так
      //снипед md3 развернет адаптив
      @media (max-width: $mobile) {
         min-height: 50px;
      }
   }

   &__menu {
   }

   &__button {
      display: flex;
      align-items: center;
   }
}
.menu {
   &__body {
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      row-gap: rem(5);

      //  @include adaptiveValue(
      //     'gap',
      //     56,
      //     15,
      //     0,
      //     1200,
      //     768
      //  ); // снипед av-это миксин для адаптации есть в документации
      gap: rem(56);
   }

   &__item {
   }

   &__link {
      font-weight: 500;
      font-size: rem(16); //снипед fz разворачивает такую конструкцию с rem
      line-height: math.div(19, 16); //снипед lh будет такая конструкция
      //снипед hhv вызовет актив меню
      @media (any-hover: hover) {
         &:hover {
            color: $purpureColor;
         }
      }
   }
}

//====================================================================================================

//Burger

.icon-menu {
   display: none;
   @media (max-width: $mobile) {
      display: block;
      position: relative;
      width: rem(30);
      height: rem(18);
      cursor: pointer;
      flex: 0 0 rem(30);
      z-index: 5;
      span,
      &::before,
      &::after {
         content: '';
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(2);
         background-color: #000;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: calc(50% - rem(1));
      }
      .menu-open & {
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }
         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
      }
   }
}
